*{
    margin: 10;
    padding: 10;
    font-family: serif, 'poppins';
    box-sizing: border-box;
}
body{
    background-color: rgb(54, 24, 24);
    color: rgb(255, 255, 255);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(pics/colloseo1.jpg);
}